body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1,
h2 {
  text-align: center;
}

.scatterplot-container {
  margin: 30px auto;
  text-align: center;
}

.tooltip {
  position: absolute;
  background: #f7f7f7;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  visibility: hidden;
}
